# Mod√®le lin√©aire

Consid√©rons la cas classique d'une fonction affine :

$$y=ax+b$$

Ici, $a$ et $b$ sont des r√©els. Ces deux nombres d√©finissent enti√®rement la courbe et permet donc d'obtenir une relation **affine** entre $x$ et $y$. En statistique, cette relation est √† la base des mod√®les dit **lin√©aires**, o√π une variable r√©ponse se d√©finit comme une somme de variables explicatives o√π chacune de ces derni√®res sont multipli√©s par un coefficient.


## Mod√®le lin√©aire simple

![](https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Linear_regression.svg/438px-Linear_regression.svg.png)

Dans le mod√®le lin√©aire simple (une seule variable explicative), on suppose que la variable r√©ponse suit le mod√®le suivant :

$$y_i=\beta_0 + \beta_1 x_i + \varepsilon_i$$

On remarque la ressemblance avec la fonction affine pr√©sent√©e ci-dessus. La diff√©rence r√©side dans l'existence du terme al√©atoire (appel√© bruit) $\varepsilon_i$. Afin de consid√©rer le mod√®le, il est n√©cessaire de se placer sous les hypoth√®ses suivantes

$$(\mathcal{H}) : \left\{\begin{matrix}
\mathbb{E}[\varepsilon_i]=0\\ 
\text{Cov}(\varepsilon_i, \varepsilon_j)=\delta_{ij} \sigma^2
\end{matrix}\right.$$
Les diff√©rents √©l√©ments qui interviennent sont :

- $\beta_0$ : l'ordonn√©e √† l'origine (nomm√©e *intercept*)
- $\beta_1$ : le coefficient directeur
- $x_i$ : l'observation $i$
- $y_i$ : le $i$-√®me prix
- $\varepsilon_i$ : le bruit al√©atoire li√©e √† la $i$-√®me observation

La solution peut se calculer facilement via les formules ferm√©es suivantes :

$$\hat{\beta}_1=\frac{\sum_{i=1}^n (x_i - \bar{x})(y_i - \bar{y})}{\sum_{i=1}^n (x_i - \bar{x})^2} \qquad \hat{\beta}_0 = \hat{y} - \hat{\beta}_1 \bar{x}$$

##¬†Mod√®le lin√©aire multiple

Dans le cas multiple (pour $p$ variables explicatives), pour la $i$-√®me observation, le mod√®le s'√©crit :

$$y_i= \beta_0 + \sum_{j=1}^p \beta_j x_{ij} + \varepsilon_i$$

Ainsi, une observation $x_i$ n'est plus une valeur, mais un **vecteur** $(x_{i1}, \dots, x_{ip})$. Il est plus commode de regrouper ces prix $y_i$ et ces vecteurs d'observations $x_i$ dans des matrices :

$$Y=X \beta + \varepsilon$$

Sous les hypoth√®ses √©quivalentes du mod√®le simple en plus grand dimension

$$(\mathcal{H}) : \left\{\begin{matrix}
\text{rank}(X)=p\\ 
\mathbb{E}[\varepsilon]=0 \text{ et }\text{Var}(\varepsilon)=\sigma^2 I_p
\end{matrix}\right.$$

Les diff√©rents √©l√©ments qui interviennent sont :

- $\beta$ : le vecteur directeur
- $X$ : la matrice des observations
- $Y$ : le vecteur de prix
- $\varepsilon$ : le vecteur de bruit

Avec $X=( \mathbf{1}, X_1, \dots, X_n)$, $Y=(y_1, \dots, y_n)^\top$ et $\varepsilon=(\varepsilon_1, \dots, \varepsilon_n)^\top$. La solution des MCO (Moindres Carr√©s Ordinaires) est alors :

$$\hat{\beta}= (X^\top X)^{-1} X^\top Y$$

Vous pouvez d'ailleurs faire la d√©monstration de votre cot√© ! Pour plus d'information math√©matiques, le portail de wikip√©dia qui est tr√®s bien fait : [lien ici](https://fr.wikipedia.org/wiki/Portail:Probabilit%C3%A9s_et_statistiques)

# 1) Impl√©menter une r√©gression lin√©aire

In [56]:
#importer vos librairies  
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import sklearn as sk;

In [42]:
#charger les donn√©es 
#price_availability.csv
#listings_final.csv
pa = pd.read_csv("price_availability.csv", sep=';')
lf = pd.read_csv("listings_final.csv", sep=';')

In [43]:
pa

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
...,...,...,...,...,...,...,...
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [44]:
#lf.drop(['Unnamed: 0'], axis='columns', inplace = True)
lf.head()

,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,1261705,chambre priv√©e √† louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,1318834,Appartement au coeur du Marais,entire_home,Paris,R√©publique,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90

In [45]:
#v√©rifier si tous les individus ont bien un prix 
#pa['local_price'].isna().sum()
pa.isna().sum()

listing_id        0
day               0
created           0
available         0
local_currency    0
local_price       0
min_nights        0
dtype: int64

In [82]:
duplicas=pa.duplicated(keep=False,subset='listing_id')
doublons=pa[duplicas]

In [83]:
doublons

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
...,...,...,...,...,...,...,...
4748691,23608395,2018-09-06,2018-09-27 06:05:42.000+0000,False,EUR,24,1
4748692,23608395,2018-09-06,2018-09-26 19:31:32.000+0000,False,EUR,24,1
4748693,1447132,2018-12-27,2018-09-27 10:46:16.000+0000,False,EUR,125,3
4748694,1447132,2018-12-27,2018-09-27 06:07:36.000+0000,False,EUR,125,3
4748695,1447132,2018-12-27,2018-09-26 19:37:40.000+0000,False,EUR,125,3

In [85]:
grouped=doublons.groupby(['listing_id']).agg({'local_price':['mean']})
grouped=grouped.reset_index()

In [86]:
grouped

      listing_id local_price
                        mean
0           5396  102.363985
1           7397  110.107632
2           9342  396.863014
3          10010  136.154856
4          10270  105.779221
...          ...         ...
11744   28836096  321.428571
11745   28838519   54.483333
11746   28840013  112.122530
11747   28846494  168.037594
11748   28851976  128.000000

[11749 rows x 2 columns]

In [102]:
grouped.columns = ['listing_id','local_price']
grouped

       listing_id  local_price
0            5396   102.363985
1            7397   110.107632
2            9342   396.863014
3           10010   136.154856
4           10270   105.779221
...           ...          ...
11744    28836096   321.428571
11745    28838519    54.483333
11746    28840013   112.122530
11747    28846494   168.037594
11748    28851976   128.000000

[11749 rows x 2 columns]

In [107]:
data_merge = inner_merged_total=pd.merge(grouped,lf,on=["listing_id"])

In [87]:
#pa['local_price'].groupby['listing_id']
#pa = pa.groupby(by="listing_id")
#pa.mean('local_price')

## 1.1) Donn√©es d'entr√©e

L'objectif ici est de charger les donn√©es pour cr√©er les matrices $X$ et $Y$ du mod√®le lin√©aire. **Attention**, il n'est pas n√©cessaire de rajouter le vecteur colonne $\mathbf{1}$ en premi√®re colonne, car *scikit-learn* le fait automatiquement !

In [145]:
#d√©finir 2 variables de travail
#X := les features √† utiliser f
#Y := la target (prix)

X=data_merge[['listing_id','person_capacity','beds','bedrooms','bathrooms']]
Y=data_merge['local_price']

In [146]:
#construire l'ensemble de donn√©e prix 
#
#    INDICE 
# 
# r√©cup√©rer les prix des ID dans le dataset de prix 
# üöß il y a plusieurs prix dans le dataset üöß

pricing=pa.groupby('listing_id')['local_price'].agg([np.mean])
pricing.rename(columns={"mean": "mean_price"}, inplace=True)

pricing.head()

#pd.merge(pa['local_price'], on='listing_id')
#pd.merge(pa({'local_price'},{'local_currency'}), lf, on = ['listing_id'])

            mean_price
listing_id
5396        102.363985
7397        110.107632
9342        396.863014
10010       136.154856
10270       105.779221

In [147]:
X.head()

   listing_id  person_capacity  beds  bedrooms  bathrooms
0       56093                4     2         1        1.0
1       57207                2     1         1        1.0
2      114543                2     1         1        1.0
3      149534                4     2         1        1.0
4      164255                4     2         1        1.0

In [148]:
Y.head()

0    170.000000
1     49.952756
2    107.374026
3    169.000000
4     75.876209
Name: local_price, dtype: float64

En *Machine Learning*, on a l'habitude de couper l'ensemble de donn√©es en deux sous-ensembles :

- Un ensemble d'entra√Ænement (*train set*), sur lequel le mod√®le va √™tre calibr√©.
- Un ensemble de test (*test set*), qui ne sera pas utilis√© pendant le calibrage mais permettra de v√©rifier l'aptitude du mod√®le √† g√©n√©raliser sur de nouvelles observations inconnues.

En g√©n√©ral, on d√©coupe l'ensemble de donn√©es (*split*) en prenant $\alpha \%$ de l'ensemble pour entra√Ænement et $1-\alpha \%$ comme test. Dans la plus part des cas, on consid√®re que $\alpha=10,20 ou 30\%$.

In [149]:
#utiliser la m√©thode split de sklearn en splitant avec un alpha=30 et un random state=42 
#afficher la shape de vos donn√©es 

#pa.shape()

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [152]:
X_train

     listing_id  person_capacity  beds  bedrooms  bathrooms
728    23348731                4     2         1        1.0
630    20926157                2     1         1        1.0
394    13489341                6     4         3        1.5
777    24515032                2     2         0        1.0
598    20011166                2     1         1        1.0
..          ...              ...   ...       ...        ...
106     1410564                1     1         1        1.0
270     7039564                6     3         2        1.0
860    26271706                4     2         2        1.0
435    14956561                5     1         1        1.0
102     1398893                2     1         1        1.0

[699 rows x 5 columns]

In [153]:
len(X_test)

300

In [159]:
from sklearn.linear_model import LinearRegression
lin_model = LinearRegression()

In [160]:
lin_model.fit(X_train, Y_train)

LinearRegression()

In [161]:
lin_model.predict(X_test)

array([ 133.96496952,  587.44247806,  104.2548419 ,  173.68751225,
        104.9639225 ,  349.55898985,  116.89955275, -290.48172103,
        122.34036368,  557.97046618,  220.66931361,  100.59121403,
        351.64703007,  175.88452004,  182.0221038 ,  220.17025059,
        217.14050493,  169.05705063,  328.68160205,  194.71831848,
        129.68181839,  118.57036255,  408.94757223,  142.42136512,
        142.58869552,  285.75658306,  146.63523211,   75.48826279,
        152.44948714,  116.32113516,   98.83597037,  123.27266995,
        145.10548476,  256.6221756 ,  100.23583135,  179.57028364,
         75.79944429,  271.83696984,  295.74335205,   98.89176428,
        139.02534009,  118.66348358,  234.36669024,  387.02501818,
         71.67401014,  129.97790304,  108.3914721 ,  136.95359615,
        133.82554892,  142.01907031,  223.07043815,  111.4025575 ,
        230.84800485,  230.48332611,  168.07461525,  317.78758809,
        132.34886416,  128.31713894,  471.80369039,  330.75843845,
        219.79592374,  134.26324115,  448.74522951,   59.50167129,
        348.45871865,  239.91681708,  136.03749838,  135.55595947,
        168.89308231,  219.10555792,   73.3616667 ,  388.88136639,
        301.55795748,  178.85043059,  127.19943853,   61.29707855,
        230.07939174,  135.9693963 ,  207.20751925,  165.15039727,
        133.70520421,  374.02905561,  184.93815644,  554.51511735,
        432.56603078,  173.46380353,  204.65554283,  126.66903279,
        174.54658933,  319.12877921,  331.11273266,  209.68827781,
        165.91242391,   94.76711106,  139.13207552,  108.44086271,
        266.65899248,  217.18122495,  141.76414124,  109.13310785,
        140.51607481,  167.00494723,   73.00777529,  113.01920527,
        365.96493654,  112.51940073,  113.12019589,  128.75824259,
        169.89133952,  134.5889791 ,  145.31880897,  145.50738206,
         63.63031228,  120.42013807,   31.60080497,  157.26846762,
        204.6118523 ,   28.105633  ,  304.59840648,  218.45484139,
        562.24850076,   76.01812613,  140.81434002,  107.29109071,
        107.20169991,  143.61171961,   68.57777407,  256.8883321 ,
        117.8922892 ,  106.03407919,   95.60141629,  276.92071812,
        223.40876369,  168.6123372 ,   67.66239566,  260.06132047,
         71.89592378,  436.44988235,   98.08193844,  220.96402776,
        130.56110673,  278.12879958,  472.33951516,  439.40567638,
        156.8461996 ,  105.03825995,  499.23203375,  236.78518467,
        208.53567615,  138.20236751,  233.6245613 ,  241.75951536,
        157.89591428,  148.09771076,  207.46696287,  648.66117357,
        132.99813661,  143.60819789,  132.40746197,   88.01343354,
        258.57747862,  130.68266624,  137.43196629,  179.76114196,
        139.42979341,  155.8707682 ,   98.67391669,  235.26738731,
         72.238167  ,  144.21493578,   92.06680661,  219.35819865,
        234.39755931,  111.2947185 ,  154.67261954,  352.79239456,
        387.91521861,   54.7088685 ,  418.14819672,  489.79047723,
         46.82922741,  -12.20161609,  235.16004182,  118.05224178,
        439.30422229,  142.12698633,  278.20238957,  173.66941506,
        120.81112718,  323.18356204,  355.97883398,  139.99819774,
        114.66813727,  463.19124797,  252.91034802,  133.902063  ,
        174.48798468,  322.37105767,  268.15048114,  121.89309188,
        383.6611986 ,  110.33685033,  101.63634194,  179.74912979,
        125.83602521,  390.55142226,  168.86442528,   68.76739192,
        151.98527249,  108.38565356,  139.39418491,  325.91011352,
        294.28080854,  140.24639426,  158.571504  ,  184.67629418,
        145.16309966,  206.17906388,  124.89359765,   98.16431441,
        312.09938773,  117.43138515,  128.64916823,  150.21344127,
        107.49895806,  239.8378707 ,  143.13766729,  158.50441049,
        125.09226497,  213.38270763,   97.73569248,  126.47027599,
        106.16971818,  137.239846  ,   71.03273178,  172.18881848,
        141.71730409,  174.43133627,  459.96040123,  190.6395377 ,
        112.43059941,  150.53994932,  125.16706634,  105.13935805,
        169.17303443,   86.85999698,  143.55921832,   69.7909323 ,
        128.82113714,  381.2931662 ,   99.22606161,  188.62977295,
         94.85812414,  124.03512017,   96.88472114,  119.16315703,
        246.43908222,  312.65009927,  148.18642808,  141.55713184,
        489.42408187,  344.00228025,  271.57456678,   85.47953555,
        323.73181871,  124.14932068,  216.54547141,  208.55212771,
         45.22367287,  186.51392706,  176.45718684,  218.74940357,
        266.17571742,  112.11688006,   97.13797269,  103.54070072,
        140.57879484,  369.39461854,  177.7503215 ,  226.25258856,
        218.51149208,  203.83337143,   75.60881256,   78.74041077,
        180.80494954,  187.96644027,  123.21705131,  233.74580841,
        141.43461417,  162.67450552,  415.98582079,  126.25195496,
        119.16199119,  166.89577362,  180.77942562,  280.51595518,
         88.52121304,  132.1881057 ,  101.34169281,   82.03701544])

In [162]:
Y_test

453      43.143689
793    1300.000000
209      57.886538
309     297.763158
740      55.349333
          ...
314     195.000000
404     109.000000
7       300.000000
155      68.163588
809      73.782493
Name: local_price, Length: 300, dtype: float64

In [163]:
lin_model.score(X_test, Y_test)

0.42584752035528406

## 1.2) Entra√Ænement

Pour information, *scikit-learn* utilise le solveur OLS (Ordinary Least Squares) de *numpy*.

In [164]:
#cr√©er l'objet de r√©gression et entrainer le sur notre ensemble d'entra√Ænement

On affiche le vecteur des coefficients pour interpr√©ter rapidement le mod√®le.

In [165]:
#afficher les coefficients
#que remarquez vous ?

## 1.3) Validation du mod√®le

### Le coefficient de d√©termination $R^2$

Par la suite, nous ferons l'hypoth√®se de gaussianit√© sur les bruits. Dans l'id√©e, nous aimerions obtenir une valeur num√©rique qui nous indique √† quel point la r√©gression lin√©aire a un sens sur nos donn√©es. Pour cela, introduisons les notations suivantes :

- $SCT=\|Y-\hat{y} \mathbf{1}\|^2$ est la somme des carr√©s totaux
- $SCE=\|\hat{Y}-\hat{y} \mathbf{1}\|^2$ est la somme des carr√©s expliqu√©s
- $SCR=\|\hat{\varepsilon}\|^2$ est la somme des carr√©s r√©siduels

L'id√©e est de d√©composer la somme des carr√©s totaux comme la somme des carr√©s que le mod√®le explique, en plus de la somme des carr√©s qui sont li√©s aux r√©sidus (et donc que le mod√®le ne peut pas expliquer). On voit donc ici l'int√©r√™t de calculer un coefficient √† partir du $SCE$. Puisque l'on a la relation suivante :

$$SCT=SCE+SCR \text{ alors } 1=\frac{SCE}{SCT}+\frac{SCR}{SCT}$$

Plus les r√©sidus sont petits (et donc la r√©gression est "bonne"), plus $SCR$ devient petit et donc $SCE$ devient grand. Le sch√©ma inverse s'op√®re de la m√™me fa√ßon. Dans le meilleur des cas, on obtient $SCR=0$ et donc $SCE=SCT$ d'o√π le premier membre vaut $1$. Dans le cas contraite, $SCE=0$ et automatiquement, le premier membre est nul. C'est ainsi que l'on d√©finit le coefficient de d√©termination $R^2$ comme 
$$R^2=\frac{SCE}{SCT}=1-\frac{SCR}{SCT}$$
Ainsi, $R^2 \in [0,1]$. Plus $R^2$ est proche de $1$, plus la r√©gression lin√©aire a du sens. Au contraire, si $R^2$ est proche de $0$, le mod√®le lin√©aire poss√®de un faible pouvoir explicatif.

In [ ]:
#faire une prediction sur X

taille du vecteur Y_pred : 999

In [ ]:
#afficher l'erreur des moindres carr√©es sur l'ensemble d'entrainement ainsi que le R2

Mean squared error: 21320.77
R2 : 0.37

## 1.4) Bonus : Analyse de l'homosc√©dasticit√©

L'analyse de l'homosc√©dasticit√© est primordiale : c'est en particulier elle qui nous permet de v√©rifier, √† partir des r√©sidus, si les bruits v√©rifient bien l'hypoth√®se $(\mathcal{H})$. On calcule donc les **r√©sidus studentis√©s**.

$$t_i^*=\frac{\hat{\varepsilon}_i}{\hat{\sigma}_{(i)} \sqrt{1-h_{ii}}}$$
Avec $h_{ii}=\{X(X^\top X)^{-1} X^\top\}_{ii}=H_{ii}$ la matrice de projection sur l'hyperplan des variables. Plus pr√©cis√©ment, $H$ est la matrice qui projette $Y$ sur l'espace engendr√© par les variables, soit $\hat{Y}=HY$. De m√™me, on consid√®re $\hat{\sigma}_{(i)}$ l'estimateur de la variance du bruit en supprimant l'observation $i$ (par une m√©thode de validation crois√©e Leave-One-Out que nous ne d√©taillerons pas ici).

Dans ce cas, on peut montrer que les r√©sidus studentis√©s suivent une loi de Student √† $n-p-1$ degr√©s de libert√©.

In [55]:
#analyser le code ci-dessous 
import scipy
Y_pred = regr.predict(X_train)
n = X_train.shape[0]
p = 4
residuals = np.abs(y_train - Y_pred)
H = np.matmul(X_train, np.linalg.solve(np.dot(X_train.T, X_train), X_train.T))
std_hat = np.dot(residuals, residuals) / (n - p)
standart_residuals = np.asarray([residuals[i] / np.sqrt(std_hat * (1 - H[i, i])) for i in range(len(residuals))])
student_residuals = np.asarray([ standart_residuals[i] * np.sqrt((n - p - 1) / (n - p - standart_residuals[i]**2)) for i in range(n) ])
cook = np.asarray([ H[i, i] * student_residuals[i] / (X_train.shape[1] * (1 - H[i, i])) for i in range(n) ])

plt.figure(figsize=(20, 12))
plt.subplot(221)
plt.scatter(Y_pred, student_residuals, s=12, c="white", edgecolors="blue")
plt.plot([min(Y_pred), max(Y_pred)], [ scipy.stats.t.ppf(q=0.975, df=n-p-1), scipy.stats.t.ppf(q=0.975, df=n-p-1)], color="green", alpha=0.6, label="Quantile de Student")
plt.title("Analyse de l‚Äôhomosc√©dasticit√©")
plt.xlabel("Pr√©dictions $\hat{y}_i$")
plt.ylabel("R√©sidus studentis√©s $|t_i^*|$")
plt.legend()

NameError: name 'regr' is not defined